{% block categoria %}
<table id="tabelacategoria" class="table table-striped table-condensed" width="100%" style="height:10px;" cellspacing="0">
        <thead>
            <tr>
                <th></th>
				<th></th>
            </tr>
        </thead>
        <!--<tfoot>
            <tr>
                <th></th>
            </tr>
        </tfoot>-->
		<tbody>
			<tr>
                <td id="nome4"></td>
				<td id="tipo4"></td>
            </tr>
            <tr>
                <td id="categorias"></td>
				<td id="vazio4"></td>
            </tr>
		</tbody>
</table>
{% endblock %}