{% block data %}
<table id="tabeladata" class="table table-striped table-condensed" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th></th>
				<th></th>
            </tr>
        </thead>
        <!--<tfoot>
            <tr>
                <th></th>
            </tr>
        </tfoot>-->
		<tbody>
			<tr>
                <td id="nome3"></td>
				<td id="tipo3"></td>
            </tr>
            <tr>
               <td id="minima"></td>
				<td id="maxima"></td>
            </tr>
			<tr>
               <td id="periodo"></td>
			    <td id="vazio3"></td>
            </tr>
		</tbody>
</table>
{% endblock %}