{% block exportacaoinfo%}
<table id="exportacao-tabela-info" class="table table-striped table-condensed" width="100%"  cellspacing="0">
        <thead>
            <tr>
				<th id="nome1"></th>
                <th id="tipo1"></th>
				<th id="tipo1"></th>
            </tr>
        </thead>
        <!--<tfoot>
            <tr>
                <th></th>
            </tr>
        </tfoot>-->
		<tbody>
            <tr>
                <td id="nome"></td>
				<td id="tipo"></td>
				<td id="tamanho"></td>
				
            </tr>
			<tr>
                <td id="linhas"></td>
				<td id="colunas"></td>
				 <td ></td>
				
            </tr>
			
		</tbody>
</table>
{% endblock %}