{% block exportacaoinfo-poi%}
<table id="exportacao-tabela-info" class="table table-striped table-condensed" width="100%"  cellspacing="0">
        <thead>
            <tr>
				<th id="nome1-poi"></th>
                <th id="tipo1-poi"></th>
				<th id="tipo1-poi"></th>
            </tr>
        </thead>
        <!--<tfoot>
            <tr>
                <th></th>
            </tr>
        </tfoot>-->
		<tbody>
            <tr>
                <td id="nome-poi"></td>
				<td id="tipo-poi"></td>
				<td id="tamanho-poi"></td>
				
            </tr>
			<tr>
                <td id="linhas-poi"></td>
				<td id="colunas-poi"></td>
				 <td ></td>
				
            </tr>
			
		</tbody>
</table>
{% endblock %}