{% block info-meu-arquivo %}
<table id="tb_info-meu-arquivo" class="table table-bordered table-striped table-hover table-condensed table-responsive">
	<thead style="background-color:rgb(0, 0, 66); color:white;">
		<tr>
			<th>
				Type
			</th>
			<th>
				Name
			</th>
			<th>
				Size [KB]
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td id="tipo">
				{{tipo}}
			</td >
			<td id="nome">
				{{nome}}
			</td>
			<td id="tamanho">
				{{tamanho}}
			</td>
		</tr>
		
	</tbody>
</table>
{% endblock %}