{% block nominal %}
<table id="tabelanominal" class="table table-striped table-condensed" width="100%" style="height:10px;" cellspacing="0">
        <thead>
            <tr>
                <th></th>
				<th></th>
            </tr>
        </thead>
        <!--<tfoot>
            <tr>
                <th></th>
            </tr>
        </tfoot>-->
		<tbody>
			<tr>
                <td id="nome2"></td>
				<td id="tipo2"></td>
            </tr>
            <tr>
                <td id="palavras"></td>
				<td id="vazio2"></td>
            </tr>
		</tbody>
</table>
{% endblock %}