{% block numerado%}
<table id="tabelanumerado" class="table table-striped table-condensed" width="100%" cellspacing="0">
        <thead>
            <tr>
				<th></th>
                <th></th>
				<th></th>
            </tr>
        </thead>
        <!--<tfoot>
            <tr>
                <th></th>
            </tr>
        </tfoot>-->
		<tbody>
			<tr>
				<td id="nome1"></td>
                <td id="tipo1"></td>
				<td id="vazio"></td>
            </tr>
            <tr>
                <td id="minimo"></td>
				<td id="maximo"></td>
				<td></td>
				
            </tr>
			<tr>
                <td id="media"></td>
				<td id="desvio"></td>
				 <td ></td>
				
            </tr>
			
		</tbody>
</table>
{% endblock %}