{% extends "cluster/header.html" %}
{% block bd %}
{% load static %}
<script type="text/javascript" src="{% static 'cluster\java_script_files\bd.js' %}"></script>

<br>
<div class="col-lg-12">
    <div class="well"> <strong>Database conection</strong></div>
	<br>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="panel panel-deafult">
			<div class="panel-body">


			<div class="row-fluid" id="meu-arquivo-div-sgbd">
				<br>
				<div class="col-lg-6">
				<form id="meu-arquivo-banco" action="/bd/" method="post">
					{% csrf_token %}
					

					
					<!--<label>Tipo do banco de dados</label>
					<div class="row-fluid">
					<div class="col-lg-6">
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" id="mysql" value="mysql" checked>
							MySQL
						</label>
					</div>
					</div>
					<div class="col-lg-6">
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios2" value="sqlserver">
							SQL Server
						</label>
					</div>
					</div>
					</div>-->
					<!--<label>URL</label>
					<input type="text" class="form-control" value="localhost" id="url" name='url' placeholder="url">
					<label>Base de dados</label>
					<input type="text" class="form-control" value="bd" id="banco" name='banco' placeholder="nomedobanco">
					<label>Usuário</label>
					<input type="text" class="form-control" value="root" id="usuario" name='usuario' placeholder="usuário">
					<div id="div-dsn">
					<label>DSN</label>
					<input type="text" class="form-control" value="eu" id="dsn" name='dsn' placeholder="dsn">
					</div>
					<label>Senha</label>
					<input type="password" class="form-control" value="25252525" id="senha" name='senha' placeholder="senha">
					<label>Consulta</label>
					<input type="text" class="form-control" id="consulta" value="SELECT * FROM bd.t1;" name='consulta' placeholder="select * from nomedatabela">-->
					{{ form }}
					<br>
					<input class="btn btn-default" type="submit" value="Confirm" />
				</form>
				<!--<button id="confirma-banco" type="button" class="btn btn-default">Confirmar</button>-->
				</div>
				<div class="col-lg-6">
				<div class="panel panel-default">
  <div class="panel-heading" style="margin:0px">Current dataset</div>
  <div class="row-fluid">
    {% include "cluster/includes/info-meu-arquivo.html" %}
  </div>
</div>
					
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
<style>
div {
	height : 200;
    width : 300;
    display : block;
}
</style>
<!--style="height: 525; width: 100%;" <script type="text/javascript" src="C:\Users\claud\Documents\Projeto\part8\mysite\cluster\templates\cluster\home_script.js"></script>{% include "cluster/includes/htmlsnippet.html" %}-->

<script type="text/javascript">
$(document).ready(function() {
	
	$('#div-dsn').hide();
	$('input[name=optionsRadios]').change(function(){

		if($( 'input[name=optionsRadios]:checked' ).val() == "mysql"){
			$('#dsn').html('');
			$('#div-dsn').hide();
		}
		else{
			$('#div-dsn').show();
			$('#url').val('DESKTOP-UDR87N3');
			$('#usuario').val('claud');
			$('#senha').val('Mano3536');
			$('#consulta').val("SELECT regiao as 'Regiao', count(regiao) as 'Contagem carro' FROM t4.dbo.cliente as c join t4.dbo.carro as c3 on c.id_cliente = c3.cliente_id_cliente group by regiao")
		}
	});
	

});


function confirmar_banco() {
	
		$.ajax({
			method: 'POST',
			url: '',
			//method: 'GET',
			//data: {}, // appears as $_GET['id'] @ your backend side jQuery.ajax
			dataType: "json",
            async: false,
			data: { tipo: 'banco-conexao',
				csrfmiddlewaretoken: '{{ csrf_token }}',
				url: $('#url').val(),
				banco: $('#banco').val(),
				usuario: $('#usuario').val(),
				senha: $('#senha').val(),
				consulta: $('#consulta').val(),
				tipo_banco: $( 'input[name=optionsRadios]:checked' ).val(),
				dsn: $('#dsn').val()},
			success: function(dataSet, status){
				window.location.href = "http://127.0.0.1:8000/bd/";
				
			}
		});

	
	

}

</script>

{% endblock %}