{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'cluster/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'cluster/images/favicon.ico' %}" type="image/x-icon">

    <title>Página Cadastro</title>

    <!-- Bootstrap core CSS -->
    <link href= "{% static 'cluster/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	
	<link href= "{% static 'cluster/css/signin2.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
	  
      <form action = "{% url 'cluster:cadastro' %}" class="form-signin", method = "post">
	    {% csrf_token %}
        <h2 class="form-signin-heading">Register</h2>
		<fieldset>
			{% for field in form %}
				{{ field.label_tag }}
				{{ field }}
				{{ field.errors }}
				<br/>
				<br/>
			{% endfor %}
			
			<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
			</br>
			</br>
			<a href = "{% url 'cluster:login' %}">Login page</a></br></br>
			<a href = "http://127.0.0.1:8000/">Home page</a>
		</fieldset>
		<br/>
		<div id = "mensagem-cadastro">
		{% if messages %}
			{% for message in messages %}
				<p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
			{% endfor %}
		{% endif %}
		</div>
      </form>

    </div> <!-- /container -->

  </body>
</html>
