{% extends "cluster/header.html" %}
{% block cluster %}
{% load static %}
	<script type="text/javascript" src="{% static 'cluster\java_script_files\cluster.js' %}"></script>
<br>
<div class="col-lg-12">
	<div class="well"> <strong>Clustering</strong></div>
    <!--<h1 id="header1" class="page-header"> Agrupamento</h1>-->
</div>


<!--<input id="gt" type="button" value="Gerar Tabela" onclick="GenerateTable({{lista}})" />-->
<div class="container-fluid">
	<div class="row-fluid"><div class="panel panel-deafult">
		<div class="panel-body">
	
			<div class="col-lg-5 ">
			<br>
				<label for="exampleSelect1">Algorithm</label>
				<select class="form-control" id="select1" >
					<!--<option value="" disabled selected>selecionar</option>-->
					<option value="2"  >K-Means</option>
					<!--<option value="3"  >DBSCAN</option>-->
				</select>
				<form>
				<br>
					<div class="form-group">
						<label id="cluster-label" for="formGroupExampleInput"></label>
						<input type="number" value="2" class="form-control" id="cluster-n" placeholder="Type here"/>
					</div>
				</form>
					<!--<table id="dvTable2" class="display nowrap" width="50%" cellspacing="0"> 
						<thead>
							<tr>
								<th>Atributo</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Atributo</th>
							</tr>
						</tfoot>
						<tbody>
						</tbody>
					</table>-->
				<div class="row-fluid" id="div-dvTable5">
				<table id="dvTable5" class="display" width="100%" cellspacing="0">
					<thead>
									<tr>
										<th>Attribute</th>
										<th>Type</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
				</table>
				</div>
                <br>

				
			</div>
			<div class="col-lg-7">
			<br>
			<div id="cluster-centroides-div" class="panel panel-default">
  <div class="panel-heading"><strong>Centroid</strong></div>
  <div class="panel-body">
				
				<div class="row-fluid">
					<table id="dvTable4" class="display" width="100%" cellspacing="0">
<thead>
<tr>
												<th>Latitude</th>
												<th>Longitude</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
		</table>
		</div>
		<br>
				<button type="button" id="cluster-mapa" class="btn btn-default">Map</button>
		</div>

		  </div>
		  <div id="cluster-mapa-div" class="panel panel-default">
  <div class="panel-heading"><strong>Map</strong></div>
  <div class="panel-body">
				
			<div id="grafico" class="row-fluid" style="height:360px">
		   </div>	
		   <br>

				
		</div>

		  </div>
		  
		</div>
            <div class="col-lg-5">
                <button id="confirma-cluster" type="button" class="btn btn-default">Confirm</button>
            </div>
            <div class="col-lg-7">
                <button type="button" id="cluster-centroides" class="btn btn-default">Centroids</button>
            </div>
		</div>
			</div>
		<br>
	</div>
</div>
<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
		padding: 10px;
      }

    </style>
<script type="text/javascript">
/*var data1 = "{{lista}}".replace(/&quot;/g,"\"");
//var dataSet="{{lista}}".replace(/&quot;/g,"\"");
//var dataSet = data1.split('"' + String + '"');
alert("{{lista}}");
var dataSet = JSON.parse(data1);


function geo_confirmar(){
	var nome = $('#nome-atributo').val();
	var latitude = $('#select1 option:selected').text();
	var longitude = $('#select2 option:selected').text();
	var coordenadas = new Array(latitude ,longitude, nome);
		$.ajax({
			method:'POST',
			url:"",
			async:false,
			data: {
			op: "geo-coordenadas",
			geocoordenadas: coordenadas,
			csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(dataSet, status){
        //alert("Data: " + data + "\nStatus: " + status);
				table.clear();
				//alert(dataSet);
				/*for( var i=0; i<dataSet.length; i++){
					var rowNode = table.row.add( [ dataSet[i] ] ).draw(false).node();
				}
				addRowHandlers();
				//alert("terminei")
			}
		});
}*/

function agrupamento(){
	var at = $('#dvTable5').DataTable().rows('.selected').data();
	var l = $('#cluster-n').val();
		$.ajax({
			method:"GET",
			url:"",
			async:true,
			data: {
			tipo: "agrupamento",
			centroides: l,
			atributo: at[0][0],
			algoritmo: $('#select1 option:selected').text(),
			csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(dado, status){
			    var table4 = $('#dvTable4').DataTable();
				table4.clear().draw();
				centros = dado['pontos'];
				var latitude = dado['pontos']['latitude'];
				var longitude = dado['pontos']['longitude'];
				colunas = dado['colunas'];
				//table4.columns.header()
				for( var i=0; i< latitude.length; i++){
					var rowNode = table4.row.add( [ latitude[i], longitude[i]] ).draw(false).node();
				}
				
				marcadorsimples(latitude, longitude);

				$('#cluster-centroides-div').hide();
			}
		});
}

function marcadorsimples(latitude, longitude) {
		$('#cluster-mapa-div').show();
	$('#grafico').show();
		 var avg_coordinate = average_coordinate(latitude, longitude);
    var avg_latitude = avg_coordinate[0];
    var avg_longitude = avg_coordinate[1];

    var other = L.layerGroup();

    for( var i=0; i< latitude.length; i++){
        var lat = latitude[i];
        var lng = longitude[i];

        L.marker([lat, lng]).bindPopup('Other').addTo(other);
    }


	var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZGNsdXN0ZXIiLCJhIjoiY2trb2RzajN4MDA4ZzJ1cXR2MDl4YngyeCJ9.9j7IbIcS-dz0bDJyaCF_9w';

	var grayscale   = L.tileLayer(mbUrl, {id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr}),
        satellite   = L.tileLayer(mbUrl, {id: 'mapbox/satellite-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr}),
		streets  = L.tileLayer(mbUrl, {id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr});

	var map = L.map('grafico', {
		center: [latitude[0], longitude[0]],
		zoom: 15,
		layers: [satellite, other]
	});

	var baseLayers = {
	    "Satellite": satellite,
		"Grayscale": grayscale,
		"Streets": streets
	};

	var overlays = {
		"Points": other
	};

	L.control.layers(baseLayers, overlays).addTo(map);

}


</script>

<!--style="height: 525; width: 100%;" <script type="text/javascript" src="C:\Users\claud\Documents\Projeto\part8\mysite\cluster\templates\cluster\home_script.js"></script>{% include "cluster/includes/htmlsnippet.html" %}-->
{% endblock %}