{% extends "cluster/header.html" %}
{% block estatisticas %}
{% load static %}
	<script type="text/javascript" src="{% static 'cluster\java_script_files\estatisticas.js' %}"></script>
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>

<div class="container-fluid">
	<div class="row-fluid">

        <div class="panel-body">
            <nav class="navbar navbar-custom" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">Begin</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul  class="nav navbar-nav">
                        <li><a  id="filtrar" href="#">Filter</a></li>
                        <li><a id="geo" href="#">Georeferenced data</a></li>
                    </ul>
                </div>
            </nav>

            <div class="row" id="panel-row-1">
                <div class="col-sm-5 ">

                    <div class="row-fluid" id="div-dvTable">
                        <table id="dvTable" class="display" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Attribute</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br>
                        <div id = "text-dvTable">
                            Clique para converter o tipo de dado para categórico
                        </div>
                        <div id = "text-numero">
                            Click to convert to Key
                        </div>
                        <button id="converter" type="button" class="btn btn-default">Converter</button>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row-fluid" id="estatisticas-div-estatisticas">
                        <div class="row-fluid" style="max-height:150px;" >
                            {% include "cluster/includes/numero.html" %}
                            {% include "cluster/includes/nominal.html" %}
                            {% include "cluster/includes/datatime.html" %}
                            {% include "cluster/includes/categoria.html" %}
                        </div>
                        <!-- Left and right controls -->


                    </div>
                    <div id="dados-mudar-grafico" class="row">
                        <a class="button" style="margin-left:47%"  id="es" href="#proximo" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="button" id="di" href="#anterior" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="row-fluid" style="height:360px" id="grafico1"></div>


                    <div class="row-fluid" id="grafico2" style="height:360px"></div>
                    <div class="row-fluid" id="map" style="height:440px"></div>
                    <div class="row-fluid" id="map2" style="height:400px"></div>
                </div>

            </div>

            <div class="row" id="panel-row-2">

                <div class="col-lg-6">
                    <div class="panel-body">
                        <div class="row" id="div-geo-form">
                            <form>
                                <div class="form-group">
                                    <label for="formGroupExampleInput" onautocomplete="on">Name of the new attribute</label>
                                    <input type="text" class="form-control" id="nome-atributo" placeholder="Type here"/>
                                    <br>
                                    <label for="exampleSelect1">Latitude</label>
                                    <select class="form-control" id="select1" >
                                        <option value="" selected>selecionar</option>
                                    </select>
                                    <br>
                                    <label for="exampleSelect2">Longitude</label>
                                    <select class="form-control" id="select2">
                                        <option value="" selected>select</option>
                                    </select>

                                    <br>
                                    <button type="button" id="confirmar" class="btn btn-default">Confirm</button>
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button id="desfazer" type="button" class="btn btn-default">Delete</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel-body">
                        <div class="row" id="div-dvTable2">
                            <table id="dvTable2" class="display" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Coordinate</th>
                                        <th>lat</th>
                                        <th>lng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            {# Filtro        #}
            <div class="row" id="panel-row-3">
                <div class="col-lg-6">
                    <div class="panel-body">
                        <div class="row" id="div-geo-form">
                            <form>
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Filter name</label>
                                    <input type="text" class="form-control" id="filtro-nome" placeholder="Type here"/>
                                    <br>
                                    <div id="builder-import_export"></div>
                                </div>
                            </form>
                        </div>
                        <br>



                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel-body">
                        <div class="row" id="div-dvTable3">

                            <table id="dvTable3" class="display" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Filter</th>
                                        <th>Metadata</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <div class="row-fluid">
                    <div class="col-lg-6">
                        <button type="button" id="filtro-editar" class="btn btn-warning">Edit</button>
                        <button type="button" id="filtro-confirmar" class="btn btn-default">Confirm</button>
                        <button id="filtro-desfazer" type="button" class="btn btn-default">Undo</button>
                    </div>
                    <div class="col-lg-6">
                        <button type="button" id="filtro-set" class="btn btn-default">Apply</button>
                        <button id="filtro-excluir" type="button" class="btn btn-default">Delete</button>
                        <button id="filtro-nenhum" type="button" class="btn btn-default">No filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
/*var data1 = "{{lista}}".replace(/&quot;/g,"\"");
//var dataSet="{{lista}}".replace(/&quot;/g,"\"");
//var dataSet = data1.split('"' + String + '"');
alert("{{lista}}");
var dataSet = JSON.parse(data1);*/


function geo_confirmar(){
	var nome = $('#nome-atributo').val();
	if (nome == ""){
		alert("Insira o nome da coordenada!");
	}
	else{
	$('#nome-atributo').val('');
	var latitude = $('#select1 option:selected').text();
	var longitude = $('#select2 option:selected').text();
	//$('#select1 select option:0').text();
	//$('#select2 select option:disabled');
	$("#select1 option:selected").attr('disabled','disabled')
        .siblings().removeAttr('disabled');
	var coordenadas = new Array(latitude ,longitude, nome);
		$.ajax({
			method:'POST',
			url:"",
			async:false,
			data: {
			op: "geo_coordenadas",
			geocoordenadas: coordenadas,
			csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(coordenada, status){
				if (coordenada == 0){
					alert("Já existe um atributo com este nome!");
				}
			
        //alert("Data: " + data + "\nStatus: " + status);
				table.clear();
				//alert(dataSet);
				/*for( var i=0; i<dataSet.length; i++){
					var rowNode = table.row.add( [ dataSet[i] ] ).draw(false).node();
				}
				addRowHandlers();*/
				//alert("terminei")
			}
		});
	}
}
function desfazer_coordenada(){
		var id = $.map(table2.rows('.selected').data(), function (item) {
					return item[0]
				});
		var co = String(id);
		$.ajax({
			method:'POST',
			url:"",
			async:false,
			data: {
			op:"desfazer_coordenada",
			nomeatributo:co,
			csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(dataSet, status){
			table2.clear();
			$('#nome-atributo').val('');
        //alert("Data: " + data + "\nStatus: " + status);
			}
		});
}

$('#btn-get-sql').on('click', function() {
  var result = $('#builder-import_export').queryBuilder('getSQL');
  var result2 = $('#builder-import_export').queryBuilder('getJson');
  alert(result2);
	//var result2 = $('#builder-import_export').queryBuilder.changer;
	var n = $('#filtro-nome').val();
  if (result.sql.length) {
    //alert(result.sql + '\n\n');
	//alert(result);
	$.ajax({
			method:'POST',
			url:"",
			async:false,
			data: {
			op:"criar_filtro",
			expressao: result.sql,
			nome: n,
			csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(dataSet, status){
			table3.clear();
        //alert("Data: " + data + "\nStatus: " + status);
			}
		});
  }
});


function set_Filtro(){

$.ajax({
			method:'POST',
			url:"",
			async:false,
			data: {
			op:"set_filtro",
			nome: n,
			csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(dataSet, status){
			table3.clear();
        //alert("Data: " + data + "\nStatus: " + status);
				$("#filtro-set").notify("Ok!");
			}
		});
		
}

function filtro_Confirmar(){
	
	var result = $('#builder-import_export').queryBuilder('getSQL');
	var rul = $('#builder-import_export').queryBuilder('getRules');
	rul = JSON.stringify(rul);
 // var result2 = $('#builder-import_export').queryBuilder('getJSON');
  //alert(result2);
	//var result2 = $('#builder-import_export').queryBuilder.changer;
	var n = $('#filtro-nome').val();
	if (n == "" || n == "Sem nome"){
		alert("Insira um nome adequado para o filtro");
	}
	else{
	$('#filtro-nome').val('');
  if (result.sql.length) {
    //alert(result.sql + '\n\n');
	//alert(result);
	$.ajax({
			method:'POST',
			url:"",
			async:false,
			data: {
			op:"criar_filtro",
			expressao: result.sql,
			regras: rul,
			nome: n,
			csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(dataSet, status){
				if (dataSet == 0){
					alert("Filtro já existente!");
				}
				gera_datatables3();
        //alert("Data: " + data + "\nStatus: " + status);
			}
		});
  }
  }
}

function filtro_Editar(){
	
	var result = $('#builder-import_export').queryBuilder('getSQL');
	var rul = $('#builder-import_export').queryBuilder('getRules');
	rul = JSON.stringify(rul);
 // var result2 = $('#builder-import_export').queryBuilder('getJSON');
  //alert(result2);
	//var result2 = $('#builder-import_export').queryBuilder.changer;
	var n = $('#filtro-nome').val();
	var n0 = table3.cell('.selected',0).data().toString();
  if (result.sql.length) {
    //alert(result.sql + '\n\n');
	//alert(result);
	$.ajax({
			method:'POST',
			url:"",
			async:false,
			data: {
			op:"editar_filtro",
			expressao: result.sql,
			regras: rul,
			nome: n,
			csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(dataSet, status){
				gera_datatables3();
        //alert("Data: " + data + "\nStatus: " + status);
			}
		});
  }
  
}

function filtro_Set(){
	
	//var result2 = $('#builder-import_export').queryBuilder.changer;
	//var n =  table3.row('.selected').data().toString();
    //alert(result.sql + '\n\n');
	var n = table3.cell('.selected',0).data().toString();
	//alert(n);
	$.ajax({
			method:'POST',
			url:"",
			async:false,
			data: {
			op:"set_filtro",
			nome: n,
			csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(dataSet, status){
        //alert("Data: " + data + "\nStatus: " + status);
			}
		});
		
}

function filtro_excluir(){
	
	//var result2 = $('#builder-import_export').queryBuilder.changer;
	var n =  table3.cell('.selected',0).data().toString();
	$("#filtro-nome").val('');
	var rul = $('#builder-import_export').queryBuilder('reset');
    //alert(result.sql + '\n\n');
	//alert(result);
	$.ajax({
			method:'POST',
			url:"",
			async:false,
			data: {
			op:"excluir_filtro",
			nome: n,
			csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(dataSet, status){
        //alert("Data: " + data + "\nStatus: " + status);
				$("#filtro-nome").prop('disabled', false);
				$("#filtro-editar").hide();
				$("#filtro-confirmar").show();
				gera_datatables3();
			}
		});
		
}

function reset_filtros(){
	
	//var result2 = $('#builder-import_export').queryBuilder.changer;
    //alert(result.sql + '\n\n');
	//alert(result);
	$.ajax({
			method:'POST',
			url:"",
			async:false,
			data: {
			op:"reset_filtros",
			csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(dataSet, status){
        //alert("Data: " + data + "\nStatus: " + status);
			}
		});
		
}

function leatflat_map(data) {


      mapboxgl.accessToken =
        'pk.eyJ1IjoiZGNsdXN0ZXIiLCJhIjoiY2trb2RzajN4MDA4ZzJ1cXR2MDl4YngyeCJ9.9j7IbIcS-dz0bDJyaCF_9w';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [data['features'][10]['geometry']['coordinates'][0], data['features'][10]['geometry']['coordinates'][1]],
        zoom: 2
      });
      map.on('load', function () {
          map.addSource('trees', {
              'type': 'geojson',
              'data': data
          });

          map.addLayer(
              {
                  'id': 'trees-heat',
                  'type': 'heatmap',
                  'source': 'trees',
                  'maxzoom': 15,
                  'paint': {
                      // increase weight as diameter breast height increases
                      'heatmap-weight': {
                          'property': 'dbh',
                          'type': 'exponential',
                          'stops': [
                              [1, 0],
                              [62, 1]
                          ]
                      },
                      // increase intensity as zoom level increases
                      'heatmap-intensity': {
                          'stops': [
                              [11, 1],
                              [15, 3]
                          ]
                      },
                      // use sequential color palette to use exponentially as the weight increases
                      'heatmap-color': [
                          'interpolate',
                          ['linear'],
                          ['heatmap-density'],
                          0,
                          'rgba(236,222,239,0)',
                          0.2,
                          'rgb(184,255,185)',
                          0.4,
                          'rgb(24,177,1)',
                          0.6,
                          'rgb(243,233,39)',
                          0.8,
                          'rgb(255,98,98)'
                      ],
                      // increase radius as zoom increases
                      'heatmap-radius': {
                          'stops': [
                              [11, 15],
                              [15, 20]
                          ]
                      },
                      // decrease opacity to transition into the circle layer
                      'heatmap-opacity': {
                          'default': 1,
                          'stops': [
                              [14, 1],
                              [15, 0]
                          ]
                      }
                  }
              },
              'waterway-label'
          );

          map.addLayer(
              {
                  'id': 'trees-point',
                  'type': 'circle',
                  'source': 'trees',
                  'minzoom': 14,
                  'paint': {
                      // increase the radius of the circle as the zoom level and dbh value increases
                      'circle-radius': {
                          'property': 'dbh',
                          'type': 'exponential',
                          'stops': [
                              [{zoom: 15, value: 1}, 5],
                              [{zoom: 15, value: 62}, 10],
                              [{zoom: 22, value: 1}, 20],
                              [{zoom: 22, value: 62}, 50]
                          ]
                      },
                      'circle-color': {
                          'property': 'dbh',
                          'type': 'exponential',
                          'stops': [
                              [0, 'rgba(236,222,239,0)'],
                              [10, 'rgb(236,222,239)'],
                              [20, 'rgb(208,209,230)'],
                              [30, 'rgb(166,189,219)'],
                              [40, 'rgb(103,169,207)'],
                              [50, 'rgb(28,144,153)'],
                              [60, 'rgb(1,108,89)']
                          ]
                      },
                      'circle-stroke-color': 'white',
                      'circle-stroke-width': 1,
                      'circle-opacity': {
                          'stops': [
                              [14, 0],
                              [15, 1]
                          ]
                      }
                  }
              },
              'waterway-label'
          );


          //click on tree to view dbh in a popup

          new mapboxgl.Popup().setLngLat(e.features[0].geometry.coordinates).setHTML('<b>DBH:</b> ' + e.features[0].properties.dbh).addTo(map);

      });

}

function marcadorsimples(data) {

       var map = new google.maps.Map(document.getElementById('graficos2'), {
          zoom:4,
		  center: {lat: data['latitude'][0], lng: data['longitude'][0]}
        });
		
		bounds  = new google.maps.LatLngBounds();
	
		var Pontos = [];
		var coordenadas = [];
		for( var i = 0; i<data['latitude'].length; i++){
			coordenadas.push({lat: data['latitude'][i], lng: data['longitude'][i]});
			//bounds.extend( new google.maps.LatLng(data['latitude'][i], data['longitude'][i]));
		}
		
		var markers = coordenadas.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: "a"
          });
        });
		
		var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

}

</script>

<!--style="height: 525; width: 100%;" <script type="text/javascript" src="C:\Users\claud\Documents\Projeto\part8\mysite\cluster\templates\cluster\home_script.js"></script>{% include "cluster/includes/htmlsnippet.html" %}-->
{% endblock %}
