{% extends "cluster/header.html" %}
{% block exportacao %}
{% load static %}
<script type="text/javascript" src="{% static 'cluster\java_script_files\exportacao.js' %}"></script>
<br>
<div class="col-lg-12">
	<div class="well"> <strong>Export</strong></div>
    <!--<h1 id="header1" class="page-header"> Agrupamento</h1>-->
</div>


<!--<input id="gt" type="button" value="Gerar Tabela" onclick="GenerateTable({{lista}})" />-->
<div class="container-fluid">
	<div class="row">
        <div class="panel panel-deafult">
            <div class="col-lg-6 ">
                <div class="panel-body">

                    <div id="graficos-div-form">
                        <form>
                            <div class="form-group">

                            <br>
                                <label for="formGroupExampleInput">Database filename</label>
                                <input type="text" class="form-control" id="exportacao-nome" placeholder="DCluster_Database">
                                <br>
                                <label for="exampleSelect1">Filter</label>
                                <select class="form-control" id="exportacao-filtro" >
                                     <option>No filter</option>
                                </select>
                                <br>
                                <!--<button type="button" id="exportacao-confirmar" class="btn btn-default">Confirmar</button>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <br>
                <div class="panel panel-default">
      <!--<div class="panel-heading"><strong></strong></div>-->
                <div class="panel-body">

                    <div class="row-fluid" id="exportacao-div" >
                    {% include "cluster/includes/exportacaoinfo.html" %}
                        <a type="button" href="http://127.0.0.1:8000/exportacao/download_database" value="linhas" class="btn btn-default">Download</a>
                    </div>

                </div>
                </div>
            </div>
    </div>
    </div>
        <div class="panel panel-deafult" id="exportacao-div-poi">
            <div class="col-lg-6 ">
                <div id="graficos-div-form">
                        <form>
                            <div class="form-group">

                            <br>
                                <label for="formGroupExampleInput">POI filename</label>
                                <input type="text" class="form-control" id="exportacao-nome-poi" placeholder="DCluster_Poi">

                            </div>
                        </form>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="row-fluid">
                    {% include "cluster/includes/exportacaoinfo-poi.html" %}
                    <a type="button" href="http://127.0.0.1:8000/exportacao/download_poi" value="linhas" class="btn btn-default">Download</a>
                </div>
            </div>
        </div>
    <br>
</div>
<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
		padding: 10px;
      }

    </style>
<script type="text/javascript">



</script>

<!--style="height: 525; width: 100%;" <script type="text/javascript" src="C:\Users\claud\Documents\Projeto\part8\mysite\cluster\templates\cluster\home_script.js"></script>{% include "cluster/includes/htmlsnippet.html" %}-->
{% endblock %}