{% extends "cluster/header.html" %}
{% block graficos %}
{% load static %}
<script type="text/javascript" src="{% static 'cluster\java_script_files\graficos.js' %}"></script>
<br>
<div class="col-lg-12">
	<div class="well"> <strong>Advanced plots</strong></div>
    <!--<h1 id="header1" class="page-header"> Agrupamento</h1>-->
</div>


<!--<input id="gt" type="button" value="Gerar Tabela" onclick="GenerateTable({{lista}})" />-->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="panel panel-deafult">
		<div class="panel-body">
	
			<div class="col-lg-5 ">
			<br>
			
			<div id="graficos-div-form">
				<form>
					<div class="form-group">
								
					<br>
						<label for="exampleSelect1">X axis</label>
						<select class="form-control" id="graficos-eixo-x" ></select>
						<br>
						<label for="exampleSelect2">Y axis</label>
						<select class="form-control" id="graficos-eixo-y"></select>
												
												<br>
					</div>
				</form>
			</div>
			<div class="btn-group btn-group-sm" role="group" aria-label="..." id="graficos-div-n-n">
				<button type="button" class="btn btn-default botao-graficos" id="graficos-botao-linha">Point</button><!--<i class="fa fa-line-chart"></i>-->
			</div>
			<div class="btn-group btn-group-sm" role="group" aria-label="..." id="graficos-div-l-n">
				<button type="button" class="btn btn-default botao-graficos" id="graficos-botao-barra">Bar</button><!--<i class="fa fa-bar-chart"></i>-->
				<button type="button" class="btn btn-default botao-graficos" id="graficos-botao-box">Box plot</button>
			</div>
			<div class="btn-group btn-group-sm" role="group" aria-label="..." id="graficos-div-d-n">
				<button type="button" class="btn btn-default botao-graficos" id="graficos-botao-box2">Box plot</button>
			</div>
			<div class="btn-group btn-group-sm" role="group" aria-label="..." id="graficos-div-c-n">
				<button type="button" class="btn btn-default botao-graficos" id="graficos-botao-heatmap">Map</button>
				<!--<i class="fa fa-bar-chart"></i>-->
			</div>
			</div>
			<div class="col-lg-7">
			<br>
			<div class="panel panel-default">
  <!--<div class="panel-heading"><strong></strong></div>-->
  <div class="panel-body">

				<div class="row-fluid">
					<div class="row-fluid" style="height:400px" id="graficos-grafico1"></div>
		        </div>

		  </div>
		   </div>
		</div>
		</div>
			</div>
		<br>
	</div>
</div>
<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
		padding: 10px;
      }

    </style>
<script type="text/javascript">



</script>

<!--style="height: 525; width: 100%;" <script type="text/javascript" src="C:\Users\claud\Documents\Projeto\part8\mysite\cluster\templates\cluster\home_script.js"></script>{% include "cluster/includes/htmlsnippet.html" %}-->
{% endblock %}