<!doctype html>
<html lang="en">

<head>
	<title> DCluster - Painel</title>
	<meta charset="utf-8" />
	{% load staticfiles %} 
	
	<link rel="shortcut icon" href="{% static 'cluster/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'cluster/images/favicon.ico' %}" type="image/x-icon">
	
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<!-- meu css-->
	<link rel="stylesheet" href="{% static 'cluster/css/meu_css.css' %}">
	<!-- datatables
	<link rel="stylesheet" href="{% static '/cluster/css/dataTables.bootstrap.min.css' %}">
	<<link rel="stylesheet" href="{% static '/cluster/css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">-->
	<link rel="stylesheet" href="{% static '/cluster/dt 1.7/bower_components/datatables.net-dt/css/jquery.dataTables.min.css' %}">
	<!-- sbadmin-->
	<link rel="stylesheet" href="{% static 'cluster/sbadmin/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'cluster/sbadmin/dist/css/sb-admin-2.css' %}">
	<link rel="stylesheet" href="{% static 'cluster/sbadmin/vendor/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'cluster/sbadmin/vendor/metisMenu/metisMenu.min.css' %}">
	<link rel="stylesheet" href="{% static 'cluster/css/signin2.css' %}" >
	
	
	
	<script type="text/javascript" src="{% static 'cluster/sbadmin/vendor/jquery/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'cluster/sbadmin/vendor/bootstrap/js/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'cluster/sbadmin/dist/js/sb-admin-2.js' %}"></script>
	<script type="text/javascript" src="{% static 'cluster/sbadmin/vendor/metisMenu/metisMenu.js' %}"></script>
	<!--<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script src="{% static 'cluster/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'cluster/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static 'cluster/js/bootstrap.min.js' %}"></script>'':

	<!--<link rel="stylesheet" href="{% static '/cluster/css/jquery.dataTables.min.css' %}"></script><script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="{% static 'cluster/js/jquery.dataTables.min.js' %}"></script>-->

	<!-- MDB
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Material Design Bootstrap
	<link rel="stylesheet" href="{% static '/cluster/MDB Free/css/mdb.css' %}">
	<link rel="stylesheet" href="{% static '/cluster/MDB Free/css/style.cssmdb.css' %}">
	<script type="text/javascript" src="{% static 'cluster\MDB Free\js/mdb.js' %}"></script>
	<!---->
	
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
       integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
       crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

    <!-- mapbox -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.1.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.1.0/mapbox-gl.css' rel='stylesheet' />
	
	<!--<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="{% static 'cluster/js/jquery.dataTables.min.js' %}"></script>-->
	<script src="{% static 'cluster/dt 1.7/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
	
	<!-- Query-->

	<!--<link rel="stylesheet" href="{% static 'cluster/css/query-builder.css' %}">
	<script src="{% static 'cluster/js/query-builder.min.js' %}"></script>-->
	<link rel="stylesheet" href="{% static 'cluster/bower_components/jQuery-QueryBuilder/dist/css/query-builder.default.min.css' %}">
	<script src="{% static 'cluster/bower_components/jquery-extendext/jQuery.extendext.min.js' %}"></script>
	<script src="{% static 'cluster/bower_components/moment/moment.js' %}"></script>
	<script src="{% static 'cluster/bower_components/doT/doT.min.js' %}"></script>
	<script src="{% static 'cluster/bower_components/doT/doT.min.js' %}"></script>
	<script src="{% static 'cluster/bower_components/jQuery-QueryBuilder/dist/js/query-builder.js' %}"></script>
	
	
	<!--Plotly-->
	<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<!--<script src="{% static 'cluster/js/plotly-latest.min.js' %}"></script>-->

	<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACuKxehD3slP-G7tCNb3bk9qXiwBAP_JE&libraries=visualization">
</script>

    <script type="text/javascript" src="{% static 'cluster/java_script_files/base.js' %}"></script>

    <!-- Biblioteca js para rodar heatmap no leaflet --->

    <script type="text/javascript" src="{% static 'cluster/js/heatmap.js' %}"></script>
    <script type="text/javascript" src="{% static 'cluster/js/leaflet-heatmap.js' %}"></script>

	<!-- Bootstrap select
	<script src="{% static 'cluster/Bootstrap select/bower_components/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
	<link rel="stylesheet" href="{% static 'cluster/Bootstrap select/bower_components/bootstrap-select/dist/css/bootstrap-select.css' %}">-->

	<!--Notify-->
	
	<script src="{% static 'cluster/notify.js' %}"></script>
	
	
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
		#map { height: 100%; }
	</style>
</head>

<body class="body" style="background-color:#f6f6f6" align="left">
	
	<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://127.0.0.1:8000/"><img src="{% static 'cluster/images/logo/logo.png' %}" alt="logo" style="margin-bottom:15%;"></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                            <!-- /input-group -->
                        <li>
                            <a><i class="fa fa-dashboard fa-fw"></i> Data source<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
                                <li>
                                    <a href="http://127.0.0.1:8000/principal">File upload</a>
                                </li>
                                <li>
                                    <a href="http://127.0.0.1:8000/bd/">Database conection</a>
                                </li>
                            </ul>
                        </li>
                        <!--<li>
                            <a id="a-estatisticas" href="http://127.0.0.1:8000/estatisticas/"><i class="fa fa-bar-chart-o fa-fw"></i>Estatísticas</a>
                          
                        </li> -->
						
						<li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Data Exploration<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a id="a-estatisticas" href="http://127.0.0.1:8000/estatisticas/">Visualization</a>
                                </li>
                                <li>
                                    <a href="http://127.0.0.1:8000/graficos/">Advanced plots</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level
                        </li>-->
						
                        <li>
                            <a href="http://127.0.0.1:8000/cluster/"><i class="fa fa-table fa-fw"></i> Clustering</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:8000/poi/"><i class="fa fa-table fa-fw"></i> POI identification</a>
                        </li>
						<li>
                            <a href="http://127.0.0.1:8000/exportacao/"><i class="fa fa-files-o fa-fw"></i> Export</a>
							</li>
						<li>
                            <a href="{% url 'cluster:logout' %}"><i class="fa fa-files-o fa-fw"></i> Logout</a>
							</li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row-fluid">
                <div class="row">
                    <!-- /.col-lg-12 -->
					<div class="row">
					{% block meu-arquivo %}	
					{% endblock %}
					{% block bd %}	
					{% endblock %}
					{% block estatisticas %}	
					{% endblock %}
					{% block cluster %}	
					{% endblock %}
                    {% block poi %}
					{% endblock %}
					{% block graficos %}	
					{% endblock %}
					{% block exportacao %}
					{% endblock %}
					</div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>

	
	</div>
	
	
</body>
<footer>
		<!--<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contato</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>-->
	</footer>	
</html>