{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'cluster/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'cluster/images/favicon.ico' %}" type="image/x-icon">

    <title>Página Login</title>

    <!-- Bootstrap core CSS -->
    <link href= "{% static 'cluster/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	
	<link href= "{% static 'cluster/css/signin2.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container">

      <form action = "{% url 'cluster:login' %}" class="form-signin", method = "post">
	    {% csrf_token %}
        <h2 class="form-signin-heading">Login</h2>
        <div class = "form-group">
			<div class = "col-md-12">
				<h3>Username</h3>
				<input type = "text" name = "username" class = "form-control" placeholder = "Login" />
			</div>
		</div>
		
		 <div class = "form-group">
			<div class = "col-md-12">
				<h3>Password</h3>
				<input type = "password" name = "password" class = "form-control" placeholder = "Senha" />
			</div>
		</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
		<br/>
		<div id = "erro-login">
		{% if messages %}
			{% for message in messages %}
				<p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
			{% endfor %}
		{% endif %}
		</div>
		<br/>
		<a href = "{% url 'cluster:cadastro' %}">Register here</a></br></br>
		<a href = "http://127.0.0.1:8000/">Home page</a>
      </form>

    </div> <!-- /container -->

  </body>
</html>
