{% extends "cluster/header.html" %}
{% block meu-arquivo %}
{% load static %}
<script type="text/javascript" src="{% static 'cluster\java_script_files\meu-arquivo.js' %}"></script>

<br>
<div class="col-lg-12">
    <div class="well"> <strong>Upload a ".csv" extension file
	</strong></div>
	<br>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="panel panel-deafult">
			<div class="panel-body">
			
			<!--<div class="input-group">
				<span class="input-group-addon">
					<input type="radio" aria-label="..." value="Upload">
				</span>
				<label>Upload de arquivo</label>
				<span class="input-group-addon">
					<input type="radio" aria-label="..." value="banco">
				</span>
				<label>Conexão com SGBD</label>
			</div>-->
			<!--<ul class="nav nav-tabs">
  <li role="presentation"><a href="#" id="arquivo">Upload de arquivo</a></li>
  <li role="presentation"><a href="#" id="sgbd">Conexão com banco de dados</a></li>
</ul>-->
			<div class="row-fluid" id="meu-arquivo-div">
			<br>
			<div class="col-lg-6">
				<form id="f-meu-arquivo" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
					<input type="file" name='csv_file' class=""/>
					<br>
					<button type="submit" class="btn btn-default">Send</button>
				</form>
				<div id = "erro-arquivo">
					{% if messages %}
						{% for message in messages %}
							<p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
						{% endfor %}
					{% endif %}
				</div>
			</div>

<!--<hr />
	{% for c in lista %}
		onclick="GenerateTable({{lista}})"onclick="GenerateTable({{lista}})"class="btn btn-default"<p>{{c|safe|linebreaks}}cellspacing="0"</p><script type="text/javascript" src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
	{% endfor %}-->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Current dataset
                        <div class="row" style="float:right">
                            <form action="/principaldemo/" method="POST">{% csrf_token %}
                                <button id="confirma-demo" type="submit" class="btn btn-default">Use demo file</button>
                            </form>
                        </div>
                    </div>
                    <div class="row-fluid">
                        {% include "cluster/includes/info-meu-arquivo.html" %}
                    </div>
                </div>
        </div>

			</div>
			<!--<div class="row-fluid" id="meu-arquivo-div-sgbd">
				<br>
				<div class="col-lg-6">
				<form id="meu-arquivo-banco">
					
					<label>URL</label>
					<input type="text" class="form-control" value="localhost" id="url" name='url' placeholder="url">
					<label>Banco</label>
					<input type="text" class="form-control" value="teste" id="banco" name='banco' placeholder="nomedobanco">
					<label>Usuário</label>
					<input type="text" class="form-control" value="claudio" id="usuario" name='usuario' placeholder="">
					<label>Senha</label>
					<input type="text" class="form-control" value="300894" id="senha" name='senha' placeholder="">
					<label>Consulta</label>
					<input type="text" class="form-control" id="consulta" value="SELECT * FROM teste.t1;" name='consulta' placeholder="select * from nomedatabela">
				</form>
				<button id="confirma-banco" type="button" class="btn btn-default">Confirmar</button>
				</div>
				
			</div>-->
			</div>
		</div>
	</div>
</div>
<style>
{#div { #}
{#	class:"cities";#}
{#	height:200;#}
{#    width:300;#}
{#    display: block;#}
</style>
<!--style="height: 525; width: 100%;" <script type="text/javascript" src="C:\Users\claud\Documents\Projeto\part8\mysite\cluster\templates\cluster\home_script.js"></script>{% include "cluster/includes/htmlsnippet.html" %}-->

<script type="text/javascript">

function confirmar_banco() {
	
		$.ajax({
			method: 'POST',
			url: '',
			//method: 'GET',
			//data: {}, // appears as $_GET['id'] @ your backend side jQuery.ajax
			dataType: "json",
            async: false,
			data: { tipo: 'banco-conexao',
				csrfmiddlewaretoken: '{{ csrf_token }}',
				url: $('#url').val(),
				banco: $('#banco').val(),
				usuario: $('#usuario').val(),
				senha: $('#senha').val(),
				consulta: $('#consulta').val()},
			success: function(dataSet, status){
				alert('oi');
				
			}
		});




}

function confirmar_demo() {
		$.ajax({
			method: 'POST',
			url: '',
			//method: 'GET',
			//data: {}, // appears as $_GET['id'] @ your backend side jQuery.ajax
			dataType: "json",
            async: true,
			data: {
			    tipo: 'demo_file',
				csrfmiddlewaretoken: '{{ csrf_token }}'
            },
			success: function(data, status){


			}
		});




}

</script>

{% endblock %}