{% extends "cluster/header.html" %}
{% block poi %}
{% load static %}
	<script type="text/javascript" src="{% static 'cluster\java_script_files\poi.js' %}"></script>
<br>
<div class="col-lg-12">
	<div class="well"> <strong>POI Identification</strong></div>



<!--<input id="gt" type="button" value="Gerar Tabela" onclick="GenerateTable({{lista}})" />-->
<div class="container-fluid">
	<div class="row-fluid"><div class="panel panel-deafult">
		<div class="panel-body">
	
			<div class="col-lg-5 ">
			<br>
				<label for="exampleSelect1">Method</label>
				<select class="form-control" id="poi-select" >
					<!--<option value="" disabled selected>selecionar</option>-->
					<option value="Sparse data" selected>Frequency-based (Sparse data)</option>
					<!--<option value="3"  >DBSCAN</option>-->
				</select>
				<form id="poi-form">
				<br>
					<div class="form-group">
						<label for="formGroupExampleInput">Minimum samples</label>
                        <input name="minimum-samples" type="number" value="8" class="form-control" id="poi-minimum-samples" placeholder="ex: 8"/>
                        <br>
                        <label id="poi-eps" for="formGroupExampleInput">EPS (meters)</label>
						<input name="eps" type="number" value="10" class="form-control" id="poi-eps" placeholder="ex: 10"/>
                        <br>
                        <label id="" for="formGroupExampleInput">Minimum number of records on different days</label>
						<input type="number" id="poi-minimum-records-on-different-days" name="minimum-records-on-different-days" min="0" max="200" step="1" value="6">
					</div>
				</form>
				<button id="confirma-poi" type="submit" class="btn btn-default">Submit</button>
				
			</div>
			<div class="col-lg-7">
                <br>
                <div id="poi-centroides-div" class="panel panel-default">
                    <div class="panel-heading"><strong>Centroides</strong></div>
                    <div class="panel-body">

                        <div class="row-fluid">
                            <table id="dvTable4" class="display" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <button type="button" id="poi-mapa" class="btn btn-default">Map</button>
                    </div>
                </div>
                <div class="row-fluid" id="div-dvTable5">
                    <table id="data_table_user_id" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>User identifier</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                    </table>
				</div>
            </div>


        </div>
        <div class="container-fluid">
                <div class="row">
                    <div id="poi-mapa-div" class="panel panel-default" style="height:360px">
                    <div class="panel-heading"><strong>Mapa</strong></div>
                    <div class="panel-body">
                        <div id="grafico" class="row-fluid" style="height:400px">
                        </div>
                    </div>
                </div>
                </div>

            </div>
    </div>
        <br>
    </div>
</div>
    </div>
<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
		padding: 10px;
      }

    </style>
<script type="text/javascript">

function poi_detection(){
	const user_id = $('#data_table_user_id').DataTable().row('.selected').data();
	{#if (user_id == "undefined"){#}
	{#    alert("Select user identifier");#}
	{#    return;#}


	var form = $('#poi-form').serializeArray();
    $.ajax({
        method:"POST",
        url:"",
        async:true,
        data: {
            user_identifier: user_id,
            method: $('#poi-select option:selected').text(),
            minimum_samples: form[0]['value'],
            eps: form[1]['value'],
            minimum_samples_on_different_days: form[2]['value'],
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(dado, status){
            var latitude = dado['latitude'];
            var longitude = dado['longitude'];
            var poi_type = dado['poi_type'];
            {#var radius_of_gyration = dado['radius'];#}
            {#var home_work_distance = dado['home_work_distance']#}
            poi_leaflet_map_(latitude, longitude, poi_type);

        },
        error: function (data) {
            alert(data.responseJSON.message);
        }
    });
}

function poi_leaflet_map_(latitude, longitude, poi_type) {
    $('#poi-mapa-div').show();


    $('#grafico').show();

    var avg_coordinate = average_coordinate(latitude, longitude);
    var avg_latitude = avg_coordinate[0];
    var avg_longitude = avg_coordinate[1];

    var other = L.layerGroup();
    var home = L.layerGroup();
    var work = L.layerGroup();

    for( var i=0; i< latitude.length; i++){
        var lat = latitude[i];
        var lng = longitude[i];
        if (poi_type[i]=='other'){
            L.marker([lat, lng]).bindPopup('Other').addTo(other);
        }
        else{
            if (poi_type[i]=='home'){
                L.marker([lat, lng]).bindPopup('Home').addTo(home);
            }
            else{
                L.marker([lat, lng]).bindPopup('Work').addTo(work);
            }
        }
    }


	var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZGNsdXN0ZXIiLCJhIjoiY2trb2RzajN4MDA4ZzJ1cXR2MDl4YngyeCJ9.9j7IbIcS-dz0bDJyaCF_9w';

	var grayscale   = L.tileLayer(mbUrl, {id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr}),
        satellite   = L.tileLayer(mbUrl, {id: 'mapbox/satellite-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr}),
		streets  = L.tileLayer(mbUrl, {id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr});

	var map = L.map('poi-mapa-div', {
		center: [latitude[0], longitude[0]],
		zoom: 15,
		layers: [satellite, home, work, other]
	});

	var baseLayers = {
	    "Satellite": satellite,
		"Grayscale": grayscale,
		"Streets": streets
	};

	var overlays = {
	    "Home": home,
        "Work": work,
		"Other": other
	};

	L.control.layers(baseLayers, overlays).addTo(map);

}


</script>

<!--style="height: 525; width: 100%;" <script type="text/javascript" src="C:\Users\claud\Documents\Projeto\part8\mysite\cluster\templates\cluster\home_script.js"></script>{% include "cluster/includes/htmlsnippet.html" %}-->
{% endblock %}